<form class="center" [formGroup]="contactForm" >
	<mat-form-field>
		<input matInput type="email" placeholder="Email fra" formControlName="email" maxlength="256">
		<mat-error *ngIf="contactForm.get('email').hasError('required')" [ngStyle]="{'color': 'red'}">Email adressen er krævet</mat-error>
	</mat-form-field>
	<br/>
	<mat-form-field>
		<input matInput type="text" placeholder="Emne" formControlName="subject" maxlength="256">
	</mat-form-field>
	<br/>
	<mat-form-field>
		<input matInput type="text" maxlength="256" placeholder="Besked" formControlName="text">
	</mat-form-field>
	<br/>
	<div>
		<button color="primary" md-button type="submit" (click)="send()" (keydown.enter)="send()">Send</button>
	</div>
</form>
