.selected {
	background-color: #FFF8DC;
}

.banner {
	width: 120px;
	display: inline-block;
}

.banner img {
	height: 55px;
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0
		rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
	-webkit-transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
	transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
	will-change: box-shadow;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	object-fit: contain;
	width: 100%;
}

.bannerDialog img {
	max-height: 500px;
	padding-bottom: 10px;
	width: 100%;
	object-fit: contain;
}

.clicklabel {
	display: table-cell;
	width: 25px;
}

.clickvalue {
	display: table-cell;
}

.heightvalue {
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	display: block;
	position: relative;
	top: 0;
	left: 75px;
	width: 90px;
	height: 0px;
}

.widthvalue {
	position: relative;
	width: 100%;
	text-align: center;
	display: inline-block;
}

h3 {
	margin: 0;
}

.right {
	float: right;
}

a {
	cursor: pointer;
	width: 100px;
	display: block;
	border-width: 1px;
	border-color: gray;
	border-style: solid;
}