<div>Tilføj reklamebanner ved at vælge et billed og der tryk på tilføj knappen.</div>

<div>
	<button mat-raised-button id="file-button" focuced>
		<label for="file-input">Vælg et billede</label>
	</button>
	<input id="file-input" #fileinput type="file" accept="image/*" (change)="onChange($event)">
	<mat-input-container class="bannerName">
		<input matInput type="text" placeholder="Navnet på banneren" [(ngModel)]="model.name" name="name" #name="ngModel"/>
	</mat-input-container>
</div>

<button class="add" mat-mini-fab (click)="addBanner()"><mat-icon>add</mat-icon></button>

<hr/>

<div>
	<button class="remove" mat-mini-fab (click)="remove()" [disabled]="!isSelected()"><mat-icon>remove</mat-icon></button>
</div>

<app-banner [banners]="campaign.banners" (selectBanner)="select($event)"></app-banner>
