.explanation {
	margin-top: 10px;
	margin-bottom: 10px;
}

#file-input {
	display: none;
}

.add {
	position: absolute;
	right: 25px;
}

app-banner {
	overflow: auto;
	height: 362px;
	display: block;
}

.bannerName {
	margin-left: 10px;
}

.explanation {
	margin-bottom: 10px;
}