.explanation {
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline;
}

#file-input {
	display: none;
}

.add {
	position: absolute;
	right: 25px;
	top: 110px;
}

.remove {
	position: absolute;
    right: 25px;
}

app-banner {
	overflow: auto;
	display: block;
}

.bannerName {
	margin-left: 10px;
}