<div>Indtast inforation om kampangen. Du har bla. mullighed for at angive det maksimale beløb du har råd til at betale pr. dag.Indtast information om kampagnen. Du har bla. mulighed for at angive det maksimale beløb du har råd til at betale pr. dag.</div>
<div class="center">
<form class="form" (ngSubmit)="edit()" #f="ngForm" novalidate>
		<mat-form-field>
			<input matInput type="text" placeholder="Navn" focuced [(ngModel)]="campaign.name" name="name" required #name="ngModel">
			<mat-hint *ngIf="!(name.errors && (name.dirty || name.touched))">Navnet på kampagnen</mat-hint>
			<mat-hint *ngIf="name.errors && (name.dirty || name.touched)" [ngStyle]="{'color': 'red'}">Navnet på kampagnen er krævet</mat-hint>
		</mat-form-field>

		<mat-form-field>
			<input matInput type="number" placeholder="Maksimal beløb pr. dag" [(ngModel)]="campaign.maxPricePrDay" name="maxPricePrDay" required #maxPricePrDay="ngModel">
			<mat-hint *ngIf="!(maxPricePrDay.errors && (maxPricePrDay.dirty || maxPricePrDay.touched))">Maksimal beløb pr. dag kampagnen må koste.</mat-hint>
			<mat-hint *ngIf="maxPricePrDay.errors && (maxPricePrDay.dirty || maxPricePrDay.touched)" [ngStyle]="{'color': 'red'}">Maksimal beløb pr. dag er krævet</mat-hint>
		</mat-form-field>

		<mat-form-field>
			<input matInput type="date" placeholder="Start dato" (value)="dateParse(campaign.startDate)" name="startDate" required #startDate (input)="campaign.startDate=parseDate($event.target.value)">
			<mat-hint *ngIf="startDate.errors && (startDate.dirty || startDate.touched)" [ngStyle]="{'color': 'red'}">Start dato er krævet</mat-hint>
		</mat-form-field>

 		<mat-form-field>
			<input matInput type="date" placeholder="Slut dato" (value)="dateParse(campaign.endDate)" name="enddate" #endDate (input)="campaign.endDate=parseDate($event.target.value)">
		</mat-form-field>
</form>
</div>
