.explanation {
	margin-top: 10px;
	margin-bottom: 10px;
}

.inputcontainer input {
	width: 185px;
}

.inputcontainer md-input-container {
	margin-bottom: 30px;
	float: left;
	clear: left;
}

md-hint {
	height: 10px;
}