.center {
	text-align: center;
	display: flex;
	justify-content: center;
    margin-top: 10px;
}

.form {
	width: 300px;
}

md-input-container {
	width: 300px;
}

md-hint {
	height: 10px;
}