<form class="center" (ngSubmit)="f.form.valid && edit()" #f="ngForm" novalidate>
	<div class="inputcontainer">
		<md-input-container>
			<input md-input type="text" placeholder="Navn" focuced [(ngModel)]="campaign.name" name="name" required #name="ngModel">
			<md-hint *ngIf="!(name.errors && (name.dirty || name.touched))">Navnet på kampagnen</md-hint>
			<md-hint *ngIf="name.errors && (name.dirty || name.touched)" [ngStyle]="{'color': 'red'}">Navnet på kampagnen er krævet</md-hint>
		</md-input-container>
			
		<md-input-container>
			<input md-input type="number" placeholder="Maksimal beløb pr. dag" [(ngModel)]="campaign.maxValue" name="maxamount" required #maxamount="ngModel">
			<md-hint *ngIf="!(maxamount.errors && (maxamount.dirty || maxamount.touched))">Maksimal beløb pr. dag kampagnen må koste.</md-hint>
			<md-hint *ngIf="maxamount.errors && (maxamount.dirty || maxamount.touched)" [ngStyle]="{'color': 'red'}">Maksimal beløb pr. dag er krævet</md-hint>
		</md-input-container>
	</div>
	<div class="inputcontainer">
		<md-input-container>
			<input md-input type="date" placeholder="Start dato" [(ngModel)]="campaign.startDate" name="startdate" required #startdate="ngModel">
			<md-hint *ngIf="startdate.errors && (startdate.dirty || startdate.touched)" [ngStyle]="{'color': 'red'}">Start dato</md-hint>
		</md-input-container>
	
		<md-input-container>
			<input md-input type="date" placeholder="Slut dato" [(ngModel)]="campaign.enddate" name="enddate" required #enddate="ngModel">
		</md-input-container>
	</div>
</form>
