<div class="frontBack">
	<div class="leftBanner">Kan klubben tjene penge  på bannere? Ja nu kan vi</div>
	<div class="rightBanner"><span>Kom i kontakt med over 3000 annoncører</span></div>
</div>
 <div class="textArea">
	<div class="bullets box">
		<ul>
			<li>Tafikken på dit site bliver penge værd for dig</li>
			<li>Vi sikrer flere og nye banner annoncører til dit site</li>
			<li>Du bestemmer selv hvilken bannerannoncer du vil have på dit site</li>
			<li>Nemt at sætte dit site op hos Adscoop</li>
			<li>Vi formindler en simple og sikker afregning</li>
		</ul>
	</div>
	<div class="box buttons">
		<app-button imageUrl="/assets/images/search-banner.png" text="Opret bannerplads" link="site" hoverClass="blue"></app-button>
		<app-button imageUrl="/assets/images/clicks.png" text="Monitorér annoncering" link="status" hoverClass="gray"></app-button>
		<app-button imageUrl="/assets/images/payment.png" text="Afregningskonto" link="payment" hoverClass="dark"></app-button>
	</div>
</div>
