<md-card class="fullscreen-dialog">
	<md-card-content> 
		<a (click)="dialogRef.close()"><md-icon>close</md-icon></a>
		<md-card-header color="accent">
			<button class="next" color="primary" md-button (click)="next()" *ngIf="!isBannerStep()">Næste</button>
			<button class="next" color="primary" md-raised-button (click)="edit()" *ngIf="isBannerStep()">{{type}}</button>
			<button class="back" color="primary" md-button (click)="back()" *ngIf="isNotFirstStep()">Tilbage</button>
			<div md-card-avatar><md-icon>web</md-icon></div>
   			<md-card-title class="title">{{type}}</md-card-title> 
		</md-card-header>
		<app-editsite class="centerContent" #editSite [site]="site" *ngIf="selectedStep == selectedStepEnum.URL" ></app-editsite> 
		<app-editsiteinfo #editsiteinfo [site]="site" *ngIf="selectedStep == selectedStepEnum.INFO" ></app-editsiteinfo>
		<app-banner #banner [site]="site" *ngIf="selectedStep == selectedStepEnum.BANNER" ></app-banner>
		<md-card-footer class="rightbutton">
			<button md-button color="accent" (click)="dialogRef.close()">Annuller</button>
			<button color="primary" md-button (click)="next()" *ngIf="!isBannerStep()">Næste</button>
			<button color="primary" md-raised-button (click)="edit()" *ngIf="isBannerStep()">{{type}}</button>
			<button color="primary" md-button (click)="back()" *ngIf="isNotFirstStep()">Tilbage</button>
		</md-card-footer> 
	</md-card-content> 
</md-card>
