.frontBack {
	background-image: url(/assets/images/front.jpeg);
	height: 448px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
}

.textArea {
	height: 318px;
	max-width: 1500px;
	margin: 1px;
}

.leftBanner {
    position: relative;
    color: white;
    font-size: 47px;
    width: 270px;
    top: 52px;
    left: 2vw;}

.rightBanner {
	background-image: url(/assets/images/rightside.png);
	height: 284px;
	wight: 241px;
	background-position: center;
	background-repeat: no-repeat;
	float: right;
}
