<div class="frontBack">
	<div class="leftBanner">Om vi kan tjene penge på banner-annoncering? Det kan du bande på!</div>
	<div class="rightBanner"><span>Sæt fart i din online indtjening</span></div>
</div>
 <div class="textArea">
	<div class="bullets box">
		<ul>
			<li>adscoop hjælper hele vejen</li>
			<li>Lave omkostninger</li>
			<li>Styr selv annoncer</li>
			<li>Du får en enkel betalingsløsning</li>
		</ul>
	</div>
	<div class="advances box">
		<h2>Fordele ved adscoop</h2>
		<p>
      Nu er online annoncering ikke mere kun forbeholdt de store firmaer.
      Vi binder mindre firmaer og kunder sammen på nettet. Både dig, som
      vil annoncere på nettet,og dig der ejer et website. I styrer
      selv online aktiviteterne. Uden store omkostninger og med en
      enkel økonomiløsning. Begge parter vinder.
		</p>
	</div>
 	<div class="advertiser box">
		<button md-icon-button routerLink="login">
		    <span>Jeg er annoncør</span>
		</button>
	</div>
	<div class="website box">
		<button md-icon-button routerLink="login">
	   		<span>Jeg har et website</span>
		</button>
	</div>
</div>
