<div class="frontBack">
	<div class="leftBanner">Om vi kan tjene penge på banner-annoncering? Det kan du bande på!</div>
	<div class="rightBanner"></div>
</div>
<div class="textArea">
	<div class="bullets">
		<ul>
			<li>Adscoop hjælper hele vejen</li>
			<li>Lave omkostninger</li>
			<li>Styr selv annoncer</li>
			<li>Du får en enkel betalingsløsning</li>
		</ul>
	</div>
	<div class="advances">
		<h3>Fordele ved Adscoop</h3>
		<p>
			Nu er online annoncering ikke mere kun forbeholdt de store firmaer. 
			Vi binder mindre firmaer og kunder sammen på nettet. 
			Både dig som vil annoncere på nettet og dig, der ejer et website. 
			I styre selv online aktiviteterne. Uden store omkostninger. 
			Og med en enkel økonomi løsning. Begge partner vinder.
		</p>
	</div>
	<div class="advertiser"></div>
	<div class="website"></div>
</div>