<div class="parallax">
	<div id="home" class="parallax__group">
       	<div class="parallax__layer parallax__layer--base">	
			<div class="homeImage">
				<div class="leftBanner">Om vi kan tjene penge på banner-annoncering? Det kan du bande på!</div>
				<div class="rightBanner"><span>Sæt fart i din online indtjening</span></div>
			</div>
			<div class="homeText">
				<div class="bullets boxHome">
					<ul>
						<li>adscoop hjælper hele vejen</li>
						<li>Lave omkostninger</li>
						<li>Styr selv annoncer</li>
						<li>Du får en enkel betalingsløsning</li>
					</ul>
				</div>
				<div class="advances boxHome">
					<h2>Fordele ved adscoop</h2>
					<p>
			      Nu er online annoncering ikke mere kun forbeholdt de store firmaer.
			      Vi binder mindre firmaer og kunder sammen på nettet. Både dig, som
			      vil annoncere på nettet,og dig der ejer et website. I styrer
			      selv online aktiviteterne. Uden store omkostninger og med en
			      enkel økonomiløsning. Begge parter vinder.
					</p>
				</div>
				<div class="boxHome buttons">
					<app-button imageUrl="/assets/images/advertiser.png" text="Jeg er annoncør" link="login" hoverClass="green"></app-button>
					<app-button imageUrl="/assets/images/website.png" text="Jeg har et website" link="login" hoverClass="blue"></app-button>
				</div>
			</div>
		</div>
	</div>

    <div id="idea" class="parallax__group">
		<div class="parallax__layer parallax__layer--base">
       		<div class="idea">
       			<span class="ideaIcon"></span>
       			<span class="ideaText">
       				<p>Adscoop adresserer problemet at online annoncering er forbeholdt mellemstore og store virksomheder. De har ressourcer til at engagere mediabureauer, som gennem deres Programmatic systemer stort set har monopoliseret det at planlægge, indrykke og administrere online bannerindrykninger. 
Typisk koster det 10-15% i direkte fees at benytte disse mediabureaer, udover at Programmatic systemet skimmer yderligere 25-35% i uigennemskuelige processer mellem mediabureauet og websites. Det er med andre ord dyrt og uigennemskueligt, og i tillæg nærmest teknisk umuligt, som mindre annoncør at købe bannerplads direkte websites.</p>

<p>Adscoop er et uafhængigt system, som ændrer situationen radikalt. Systemet tilbyder små firmaer en web platform, hvor de selv kan planlægge, kreere, indrykke, betale og monitorere deres banner annoncering. Platformen har i den anden ende en række websites tilknyttet, som annoncørerne kan bestille indrykningsplads på. Alt foregår i et enkelt og gennemsigtigt flow, til en lav afregningspris.
Adscoop adskiller sig fra alle andre Programmatic systemer og Affiliate networks fordi det giver den lille annoncør styringen og kontrollen, og knytter annoncøren til website ejeren.</p> 
<p>Systemet er i første generations udviklings- og programmeringsfasen. Det umiddelbart forestående store arbejde er orienteret mod at få back-end og front-end integrereret, integration til både betalingsmodul og bannerannonce produktionsmodul, samt at udvikle UX-design for at sikre en så enkel og intuitiv proces som muligt. Når Innobooster projektet er fuldført vil Adscoop fremstå i en brugertest-version, som skal gennemtestes for at opfange eventuelle fejl og forbedringsområder.</p>
<p>Efter brugertest vil systemet være klar til introduktion i Danmark som pilotmarked.</p> 
</span>
       		</div>
      	</div>
      	<div class="parallax__layer parallax__layer--fore">
       		<div class="ideaImage"></div>
        </div>
    </div>	
    	
    <div id="about" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
       <div class="aboutImage"></div>
      </div>
      <div class="parallax__layer parallax__layer--fore">
      	<div class="about">
      		<span class="aboutIcon"></span>
      		<span class="aboutText">
      			<p><strong>Thomas Kleist</strong> (CTO) Co-founder. Tekniske Direktør med mange årig erfaring inden for software udvikling og design af komplekse system arkitekturer. Med speciale indenfor Spring MVC, REST and Unit Test rxjava, Graph og SQL Database.</p> 
				<p><strong>Tim Gundmann</strong> (Senior Developer) partner, med speciale indenfor Java og Java EE ved hjælp af Spring, samt Agil udvikling med fokus på Scrum som framework til udviklingsprocessen og Test Driven Development (TDD) som et værktøj.</p>
<p><strong>Robert Kleist</strong> (CEO) partner, Co-founder. Drift og salgsansvarlig. Erfaring indenfor general ledelse, salgsledelse både i ind og udland. Kunde og investor relationer.</p>
<p><strong>Henrik Dahlerup</strong> (CMO), partner. Ansvarlig for Marketing, kommunikation og forretningsanalyse. Mangeårig erfaring indenfor reklame- og marketingbranchen, hovedsagelig indenfor branding og konceptudvikling, digitale markedsføring kampagner og medie planlægning.</p></span>
      	</div>
	  </div>
	</div>
    <div id="contact" class="parallax__group">
      <div class="parallax__layer parallax__layer--fore">
      	<div class="contact">
      		<span class="contactIcon"></span>
      		<span class="contactText">
      			<app-contact></app-contact>
      		</span>
      	</div>
      </div>
      <div class="parallax__layer parallax__layer--base">
       	<agm-map [latitude]="lat" [longitude]="lng">
  			<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
		</agm-map>
	  </div>
	</div>
</div>