.frontBack {
	background-image: url(/assets/images/front.jpeg);
	height: 448px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.leftBanner {
	position: relative;
	color: white;
	font-size: 47px;
	width: 270px;
	top: 52px;
	left: 2vw;
	font-weight: bold;
}

.rightBanner {
	background-image: url(/assets/images/rightside.png);
	height: 284px;
	width: 241px;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: 110px;
	right: 2vw;
}

.rightBanner span {
	position: absolute;
	top: 116px;
	left: 32px;
	color: white;
	font-size: 30px;
	width: 122px;
}

.textArea {
	background-color: #dae8e7;
	min-height: 488px;
}

.textArea ul {
	margin-top: 0;
}

.box {
	float: left;
	height: 300px;
	width: 25vw;
	margin: 2vw;
}

.bullets {
	line-height: 35px;
	font-size: 20px;
	font-weight: bold;
	margin-top: 160px;
	margin-left: 6vw;
	margin-right: 0;
	width: 20vw;
}

.advances {
	font-size: 20px;
	margin-top: 110px;
}

.advertiser {
	height: 185px;
	width: 185px;
	padding-bottom: 40px;
	margin-top: 110px;
	margin-left: 6vw;
}

.advertiser button {
	background-image: url(/assets/images/advertiser.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.advertiser span {
	font-size: 21px;
	font-weight: bold;
	position: relative;
	top: 105px;
}

.website {
	height: 185px;
	width: 185px;
	padding-bottom: 40px;
	margin-top: 110px;
}

.website button {
	background-image: url(/assets/images/website.png);
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

.website span {
	font-size: 21px;
	font-weight: bold;
	position: relative;
	top: 105px;
}

@media ( max-width : 1200px) {
	.box {
		float: none;
		margin: auto;
	}
	.rightBanner {
		display: none;
	}
	.bullets {
		position: relative;
		top: 140px;
		height: 192px;
		width: 319px;
		transform: translateY(-50%);
	}
	.advances {
		float: none;
		margin: auto;
		width: 330px;
		height: 250px;
	}
	.advances h2 {
		text-align: center;
	}
	.advertiser {
	}
	.website {
		
	}
}