.mainIcon {
	margin-left: 10px;
	margin-top: -4px;
}

.noWebsits {
	text-align: center;
	margin-top: 60px;
}

.noWebsits button {
	margin: 15px;
}

.noWebsits span {
	display: block;
}

.centerContent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.info {
	padding: 10px;
}

.info label {
	font-weight: bold;
	width: 100px;
	display: inline-block;
}

.info div {
	margin-bottom: 10px;
	display: flex;
}

.info span {
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 200px;
	overflow: hidden;
}

.frame-container {
	height: calc(768px * 0.25);
	overflow: hidden;
	position: relative;
	background: white;
}

.frame {
	position: relative;
	-ms-zoom: 0.25;
	-moz-transform: scale(0.25);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.25);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.25);
	-webkit-transform-origin: 0 0;
	width: 1280px;
}

.frame:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.frame iframe {
	width: 1280px;
	height: 768px;
	border: 0;
}

.insecureSite {
	text-align: center;
	font-size: 40px;
	margin-top: 90px;
}

md-card {
	float: left;
	max-width: 320px;
	max-height: 340px;
	margin: 10px;
	padding-right: 0px;
	padding-left: 0px;
	background-color: #dae8e7;
}

.buttons button {
	float: right;
	margin-right: 12px;
	position: relative;
	top: -40px;
}