.main {
	display: table;
	margin: 0 auto;
}

.info {
	padding: 10px;
}

.info label {
	font-weight: bold;
}

.info div {
	margin-bottom: 10px;
}

.frame-container {
	width: calc(1280px * 0.25);
	height: calc(768px * 0.25);
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.frame {
	position: relative;
	-ms-zoom: 0.25;
	-moz-transform: scale(0.25);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.25);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.25);
	-webkit-transform-origin: 0 0;
}

.frame:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.frame iframe {
	width: 1280px;
	height: 768px;
	border: 0;
}

md-card {
	float: left;
	max-width: 320px;
	max-height: 500px;
	margin: 10px;
	padding-right: 0px;
	padding-left: 0px;
	background-color: #dae8e7;
}

button {
	float: right;
	margin-right: 12px;
	position: relative;
	top: -25px;
}