<div class="centerContent">
	<div class="noWebsits" *ngIf="!sites || sites.length == 0"><span>Du har ingen websider tryk på kanppen for at tilføje en webside</span><button mat-mini-fab (click)="add()"><mat-icon>add</mat-icon></button></div>
	<mat-card *ngFor="let site of sites; let i = index">
		<mat-card-content class="buttons">
			<button mat-mini-fab (click)="remove(site)"><mat-icon>remove</mat-icon></button>
			<button mat-mini-fab (click)="edit(site)"><mat-icon>edit</mat-icon></button>
			<button mat-mini-fab *ngIf="i == 0" (click)="add()"><mat-icon>add</mat-icon></button>
			<mat-card-header>
				<div mat-card-avatar><mat-icon class="mainIcon">web</mat-icon></div>
	   			<mat-card-title>{{site.url}}</mat-card-title>
			</mat-card-header>
			<div class="frame-container">
				<div class="frame">
					<iframe *ngIf="!isNotSafe(site)" [src]="site.url | urlsafe"></iframe>
					<div class="insecureSite" *ngIf="isNotSafe(site)">Websitet er ikke sikkert (ikke https kun http) og kan derfor ikke vises</div>
				</div>
			</div>
			<div class="info">
				<div>
					<label>Område</label>
					<span title="{{countries(site)}} {{region(site)}} {{cities(site)}}">{{countries(site)}} {{region(site)}} {{cities(site)}}</span>
				</div>
				<div>
					<label>Demografi</label>
					<span>{{genderStr(site)}} min. alder: {{minAge(site)}} max. alder: {{maxAge(site)}}</span>
				</div>
				<div>
					<label>Website info</label>
					<span>{{site.organisation.type}} {{site.organisation.category}}</span>
				</div>
				<div>
					<label>Søgeord</label>
					<span title="{{labels(site)}}">{{labels(site)}}</span>
				</div>
			</div>

		</mat-card-content>
	</mat-card>
</div>
