<div class="centerContent">
	<div class="noWebsits" *ngIf="!sites || sites.length == 0"><span>Du har ingen websider tryk på kanppen for at tilføje en webside</span><button md-mini-fab (click)="add()"><md-icon>add</md-icon></button></div>
	<md-card *ngFor="let site of sites; let i = index"> 
		<md-card-content class="buttons"> 
			<button md-mini-fab (click)="remove(site)"><md-icon>remove</md-icon></button>
			<button md-mini-fab (click)="edit(site)"><md-icon>edit</md-icon></button>
			<button md-mini-fab *ngIf="i == 0" (click)="add()"><md-icon>add</md-icon></button>
			<md-card-header>
				<div md-card-avatar><md-icon class="mainIcon">web</md-icon></div>
	   			<md-card-title>{{site.url}}</md-card-title> 
			</md-card-header>
			<div class="frame-container">
				<div class="frame">
					<iframe [src]="site.url | urlsafe"></iframe>
				</div>
			</div>
			<div class="info">
				<div>
					<label>Område</label>
					<span title="{{countries(site)}} {{region(site)}} {{cities(site)}}">{{countries(site)}} {{region(site)}} {{cities(site)}}</span>
				</div>
				<div>
					<label>Demografi</label>
					<span>{{genderStr(site.demografi.gender)}} min. alder: {{site.demografi.minAge }} max. alder: {{site.demografi.maxAge}}</span>
				</div>
				<div>
					<label>Website info</label>
					<span>{{site.organisation.type}} {{site.organisation.category}}</span>
				</div>
				<div>
					<label>Søgeord</label>
					<span title="{{labels(site)}}">{{labels(site)}}</span>
				</div>
			</div>
			
		</md-card-content>
	</md-card>
</div>