<div>Indtast din adresse og tryk vis. Websiden skal være sikker, hvis den ikke er sikker kan den ikke vises i ad-scoop.</div>
<div class="center">
	<mat-input-container class="width60">
		<input matInput type="text" placeholder="Web-adresse" focuced [(ngModel)]="url" name="url" required></mat-input-container>
	<button mat-mini-fab class="right" (click)="refresh()"><mat-icon>visibility</mat-icon></button>


</div>
<div class="center">
	<div class="box">
		<div class="frame">
			<iframe *ngIf="!isNotSafe()" [src]="site.url | urlsafe"></iframe>
			<div class="insecureSite" *ngIf="isNotSafe()">Websitet er ikke sikkert (ikke https kun http) og kan derfor ikke vises</div>
		</div>
	</div>
</div>
