.center {
	display: flex;
	justify-content: center;
    margin-top: 10px;
}

.box {
	width: calc(1280px * 0.4);
	height: calc(768px * 0.4);
/* 	overflow: hidden;
 */	position: relative;
	border-color: #dae8e7;
	border-width: 1px;
	border-style: solid;	
}

.small {
	width: calc(1280px * 0.4);
}

.right {
	float: right;
}

.frame {
	-ms-transform: scale(0.4);
	-moz-transform: scale(0.4);
	-o-transform: scale(0.4);
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	width: 1248px;
}

.frame iframe {
	width: 1280px;
	height: 950px;
	border: 0;
}

.frame:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.insecureSite {
	text-align: center;
	font-size: 35px;
	margin-top: 145px;
}

.width60 {
	width: 60%;
}

@media ( max-width : 800px) {
	.small {
		width: calc(1280px * 0.3);
	}
	.box {
		width: calc(1280px * 0.3);
		height: calc(768px * 0.3);
	}
	.frame {
		-ms-transform: scale(0.3);
		-moz-transform: scale(0.3);
		-o-transform: scale(0.3);
		-webkit-transform: scale(0.3);
		transform: scale(0.3);
	}
}

@media ( max-width : 400px) {
	.small {
		width: calc(1280px * 0.2);
	}
	.box {
		width: calc(1280px * 0.2);
		height: calc(768px * 0.2);
	}
	.frame {
		-ms-transform: scale(0.2);
		-moz-transform: scale(0.2);
		-o-transform: scale(0.2);
		-webkit-transform: scale(0.2);
		transform: scale(0.2);
	}
}