.websiteSelect {
	width: 350px;
	float: right;
}

.banner {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	width: 100%;
}

.buttons {
	width: 615px;
}

#websitesimg {
	display: flex;
	width: 100%;
	margin-top: 10px;
}

canvas {
	margin: auto;
}

.selectedImage {
	position: relative;
	top: 5px;
}

.bannerSelect {
	width: 200px;
	position: relative;
	left: -60px;
}

@media ( max-width : 500px) {
	.websiteSelect {
		position: inherit;
		margin-bottom: 20px;
	}
	.bannerselect {
		position: inherit;
		margin-bottom: 20px;
	}
	#websitesimg {
		display: flex;
		height: inherit;
	}
}