<div>Du har mulighed for at vælge en banner og tilknytte den til et website. Når banneret er valgt kan du klikke på de steder hvor der er banner, så tilføjer du det. Klikker du på det igen fjernes det.</div>
<div class="banner">
	<div class="buttons">
	<img class="selectedImage" *ngIf="selectedBanner" height="25px" src="{{selectedBanner.picture}}" />
	<md-select class="bannerSelect" placeholder="Vælg banner" [(ngModel)]="selectedBanner" name="banner">
		<md-option *ngFor="let banner of campaign.banners" [value]="banner">
			<img height="25px" src="{{banner.picture}}">
	  	</md-option>
	</md-select>


	<md-select class="websiteSelect" placeholder="Vælg website" [(ngModel)]="selectedSite" name="sites">
		<md-option *ngFor="let site of webSites" [value]="site">
	    	{{site.url}}
	  	</md-option>
	</md-select>
	</div>
</div>
<div id="websitesimg">
	<canvas #site (click)="canvasClick($event)"></canvas>
</div>