.explanation {
	margin-top: 10px;
	margin-bottom: 10px;
}

.websiteselect {
	position: absolute;
	right: 0px;
	top: 120px;
	width: 350px;
}

.bannerselect {
	position: absolute;
	top: 120px;
	left: 0px;
}

#websitesim {
	display: flex;
}

canvas {
	margin: auto;
}

.selectedImage {
	position: absolute;
	left: 0px;
	top: 123px;
}

@media ( max-width : 500px) {
	.websiteselect {
		position: inherit;
		margin-bottom: 20px;
	}
	.bannerselect {
		position: inherit;
		margin-bottom: 20px;
	}
	.selectedImage {
		position: absolute;
		left: 25px;
		top: inherit;
	}
}