.header-background {
	background-color: #dae8e7;
	width: 100%;
	height: 64px;
	position: absolute;
	left: 0;
	top: 0;
}

md-card-header {
	background-color: #dae8e7;
	margin-bottom: 15px;
}

md-card {
	box-shadow: inherit !important;
	padding: 0 !important;
}

md-checkbox {
	margin-right: 10px;
}

.selected-value {
	margin: 15px 0;
}

.input {
	width: 150px;
}

.content {
	min-height: 350px;
}

.right {
	float: right;
}

a {
	display: none;
}

.create {
	display: none;
}

@media ( max-width : 500px) {
	.create {
		display: inherit;
		float: right;
		padding-top: 20px;
	}
	a {
		cursor: pointer;
		float: left;
		display: inherit;
		padding-top: 20px;
	}
	.md-card-footer {
		display: none;
	}
	.fullscreen-dialog {
		height: 100%;
		width: 100%;
		max-height: 100%;
		max-width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 0;
	}
	md-card-header {
		background-color: inherit;
	}
	md-card-header div {
		padding-top: 20px;
	}
	md-card-title {
		padding-top: 25px;
	}
	md-card-footer {
		display: none;
	}
	.center {
		padding-left: 20px;
	}
	
}