@font-face {
    font-family: ChaletLondonNineteenSixty;
    src: url(/assets/fonts/ChaletLondonNineteenSixty.ttf);
}

@font-face {
    font-family: ChaletNewYorkNineteenSixty;
    src: url(/assets/fonts/ChaletNewYorkNineteenSixty.ttf);
}

.main {
	padding-top: 65px;
}

