@font-face {
    font-family: ChaletLondonNineteenSixty;
    src: url(/assets/fonts/ChaletLondonNineteenSixty.ttf);
}

@font-face {
    font-family: ChaletNewYorkNineteenSixty;
    src: url(/assets/fonts/ChaletNewYorkNineteenSixty.ttf);
}

.main {
/*     max-width: 1500px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
 */}