<div class="topMenu">
	<a mat-button [routerLink]="toHome()" class="logoSmall"></a>

	<span class="dropDowntopMenuItems">
		<a mat-button [matMenuTriggerFor]="menu">
			<mat-icon>menu</mat-icon>
		</a>

		<mat-menu #menu="matMenu">
			<span *ngFor="let item of selectedMenu">
				<app-top-menu-button [item]="item" [owner]="self"></app-top-menu-button>
	 		</span>
		</mat-menu>
	</span>

	<span class="topMenuItems">
		<span *ngFor="let item of selectedMenu">
			<app-top-menu-button [item]="item" [owner]="self"></app-top-menu-button>
		</span>
	</span>
</div>
