<a md-button routerLink="." class="logoSmall"></a>
<span *ngIf="userService.isNotLoggedIn()" class="topMenuItems"> <a
	md-button routerLink="underConstruction">Om os</a> <span>|</span> <a
	md-button routerLink="underConstruction">Idéen</a> <span>|</span> <a
	md-button routerLink="underConstruction">Kontakt</a> <span>|</span> <a
	md-button routerLink="login">Log ind</a>
</span>

<span *ngIf="userService.isLoggedInAsAdvertiser()" class="topMenuItems">
	<a md-button routerLink="advertiser/campaigns">Kampagner</a> <span>|</span>
	<a md-button (click)="logout()">Log ud</a>
</span>

<span *ngIf="userService.isLoggedAsProvider()" class="topMenuItems">
	<a md-button routerLink="provider/site">Websider</a> <span>|</span>
	<a md-button (click)="logout()">Log ud</a>
</span>

<span class="dropDowntopMenuItems">
	<button md-button [mdMenuTriggerFor]="menu">
		<md-icon>menu</md-icon>
	</button> 
	
	<md-menu #menu="mdMenu">
	<button md-menu-item routerLink=".">
		<md-icon>home</md-icon>
		<span>Hjem</span>
	</button>
	<button *ngIf="userService.isLoggedInAsAdvertiser()" md-menu-item
		routerLink="advertiser/campaigns">
		<md-icon></md-icon>
		<span>Kampagner</span>
	</button>
	<button md-menu-item routerLink="underConstruction">
		<md-icon></md-icon>
		<span>Om os</span>
	</button>
	<button md-menu-item routerLink="underConstruction">
		<md-icon></md-icon>
		<span>Idéen</span>
	</button>
	<button md-menu-item routerLink="underConstruction">
		<md-icon></md-icon>
		<span>Kontakt</span>
	</button>
	<button *ngIf="userService.isNotLoggedIn()" md-menu-item
		routerLink="login">
		<md-icon>person</md-icon>
		<span>Log ind</span>
	</button>
	<button *ngIf="userService.isLoggedIn()" md-menu-item
		(click)="logout()">
		<md-icon>person</md-icon>
		<span>Log ud</span>
	</button>
	</md-menu>

</span>
