.topMenu {
    height: 65px;
    padding-top: 30px;
}

.logoSmall {
	float: left;
}

.topMenuItems {
	float: right;
}

.topMenuItems a {
	text-decoration: none;
}

.topMenuItems span {
	margin-left: 5px;
    margin-right: 5px;
}

.dropDowntopMenuItems {
   display: none;
}

@media (max-width: 770px) {
	
    .topMenuItems {
        display: none;
    }
    
    .dropDowntopMenuItems {
        display: block;
        float: right;
    }
    
}