<a md-button [routerLink]="toHome()" class="logoSmall"></a>

<span class="dropDowntopMenuItems">
	<a md-button [mdMenuTriggerFor]="menu">
		<md-icon>menu</md-icon>
	</a> 
	
	<md-menu #menu="mdMenu">
		<span *ngFor="let item of selectedMenu">
			<app-top-menu-button [item]="item" [owner]="self"></app-top-menu-button>
 		</span>	
	</md-menu>
</span>

<span class="topMenuItems">
	<span *ngFor="let item of selectedMenu">
		<app-top-menu-button [item]="item" [owner]="self"></app-top-menu-button>
	</span>	
</span>