.topMenu {
	position: absolute;
	z-index: 100;
	width: 100%;
	background-color: white;
	height: 48px;
}

.logoSmall {
	background-image: url('/assets/images/logoSmall.jpeg');
	background-repeat: no-repeat;
	float: left;
	width: 195px;
	height: 39px;
	margin-left: 10px !important;
	margin-top: 5px !important;
}

.topMenuItems {
	position: absolute;
	right: 0;
	display: flex;
}

.topMenuItems a {
	text-decoration: none;
	display: inline-block;
	position: relative;
	top: 10px;
	margin-right: 20px;
	width: 100%;
}

.splitterMenuItem {
	top: 15px;
	position: absolute;
	display: inline-block;
}

.dropDowntopMenuItems {
	display: none;
}

button.mat-menu-item {
	width: auto !important;
}

.svgIcon {
	vertical-align: text-bottom !important;
}

@media ( max-width : 770px) {
	.topMenuItems {
		display: none;
	}
	.dropDowntopMenuItems {
		display: block;
		float: right;
	}
	.topMenu {
		display: block;
		z-index: 1;
	}
	.splitterMenuItem {
		display: none;
	}
}