.topMenu {
	padding-top: 10px;
	height: 50px;
	background-color: white;		
}

.logoSmall {
	float: left;
}

.topMenuItems {
	position: absolute;
	right: 0;
	top: 7px;
}

.topMenuItems a {
	text-decoration: none;
}

.topMenuItems span {
	margin-left: 5px;
	margin-right: 5px;
}

.dropDowntopMenuItems {
	display: none;
}

@media ( max-width : 770px) {
	.topMenuItems {
		display: none;
	}
	.dropDowntopMenuItems {
		display: block;
		float: right;
	}
	.topMenu {
		position: fixed;
	}
}