<div class="float">
	<mat-card class="fullscreen-dialog">
		<mat-card-content>
			<a (click)="dialogRef.close()"><mat-icon>close</mat-icon></a>
			<mat-card-header color="accent">
				<button class="next" color="primary" mat-button (click)="next()" *ngIf="!isLastStep()">Næste</button>
				<button class="next" color="primary" mat-raised-button (click)="edit()" *ngIf="isLastStep()">{{type}}</button>
				<button class="back" color="primary" mat-button (click)="back()" *ngIf="isNotFirstStep()">Tilbage</button>
				<div mat-card-avatar><mat-icon>group_work</mat-icon></div>
	   			<mat-card-title class="title">{{type}}</mat-card-title>
			</mat-card-header>
			<div class="center">
				<app-editcampaign #editcampaign class="small" *ngIf="selectedStep == selectedStepEnum.CAMPAIGN" [campaign]="campaign"></app-editcampaign>
				<app-searchsites #searchsites class="small" *ngIf="selectedStep == selectedStepEnum.SITES" [campaign]="campaign"></app-searchsites>
				<app-bannerupload #searchbanner class="small" *ngIf="selectedStep == selectedStepEnum.BANNER" [campaign]="campaign"></app-bannerupload>
				<app-bannermatcher #bannermatcher class="small" *ngIf="selectedStep == selectedStepEnum.BANNER_SITE" [campaign]="campaign"></app-bannermatcher>
			</div>
			<mat-card-footer class="rightbutton">
				<button mat-button color="accent" (click)="dialogRef.close()">Annuller</button>
				<button color="primary" mat-button (click)="next()" *ngIf="!isLastStep()">Næste</button>
				<button color="primary" mat-raised-button (click)="edit()" *ngIf="isLastStep()">{{type}}</button>
				<button color="primary" mat-button (click)="back()" *ngIf="isNotFirstStep()">Tilbage</button>
			</mat-card-footer>
		</mat-card-content>
	</mat-card>
</div>
