<form class="center" (ngSubmit)="f.form.valid && login()" #f="ngForm">
	<md-card class="cardWidth"> 
		<md-card-content> 
			
			<md-card-header>
				<div md-card-avatar><md-icon>person</md-icon></div>
    			<md-card-title>Log ind</md-card-title> 
			</md-card-header> 
			
			<md-input-container>
				<input md-input id="email" placeholder="Email" focuced [(ngModel)]="model.email" name="email" required #email="ngModel">
				<md-hint *ngIf="f.hasError('required','email')" [ngStyle]="{'color': 'red'}">Email adressen er krævet</md-hint>
			</md-input-container>
			
			<md-input-container>
				<input md-input type="password" placeholder="Password" [(ngModel)]="model.password" name="passeord" required >
				<md-hint *ngIf="f.hasError('required','passeord')" [ngStyle]="{'color': 'red'}">Password er krævet</md-hint>
			</md-input-container>

			<md-card-footer>
				<button color="primary" md-button type="submit" align="end" >Log ind</button>
				<button md-button align="end" class="right" (click)="registry()">Opret</button>
			</md-card-footer> 
		</md-card-content> 
	</md-card>
</form>
