.profileDialog {
    width: 155px;
    height: 155px;
}

.centerButton {
	width: 100%;
	margin-top: 24px;
}

.right {
	float: right;
	margin-bottom: 24px;
}

.center {
    margin: auto;
    height: 210px;
    transform: translateY(-50%);
    position: relative;
    top: 200px;
}

.cardWidth {
    width: 165px;
    margin: auto;
    height: 210px;
}