<form class="center" [formGroup]="loginForm" >
	<mat-card class="cardWidth">
		<mat-card-content>

			<mat-card-header>
				<div mat-card-avatar><mat-icon>person</mat-icon></div>
    			<mat-card-title>Log ind</mat-card-title>
			</mat-card-header>

			<mat-form-field>
				<input matInput type="email" placeholder="Email" focuced formControlName="email">
				<mat-error *ngIf="loginForm.get('email').hasError('required')" [ngStyle]="{'color': 'red'}">Email adressen er krævet</mat-error>
			</mat-form-field>


			<mat-form-field>
				<input matInput type="password" placeholder="Password" formControlName="password">
				<mat-error *ngIf="loginForm.get('password').hasError('required')"  [ngStyle]="{'color': 'red'}">Password er krævet</mat-error>
			</mat-form-field>

			<mat-card-footer>
				<button color="primary" mat-button type="submit" align="end" (click)="login()" (keydown.enter)="login()">Log ind</button>
				<a mat-button color="accent" align="end" class="right" (click)="registry()">Opret</a>
			</mat-card-footer>
		</mat-card-content>
	</mat-card>
</form>
