<form class="center" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
	<md-card class="cardWidth"> 
		<md-card-content> 
			
			<md-card-header>
				<div md-card-avatar><md-icon>person</md-icon></div>
    			<md-card-title>Log ind</md-card-title> 
			</md-card-header> 
			
			<md-input-container>
				<input mdInput type="email" placeholder="Email" focuced [(ngModel)]="model.email" name="email" required #email="ngModel">
				<md-hint *ngIf="email.errors && (email.dirty || email.touched)" [ngStyle]="{'color': 'red'}">Email adressen er krævet</md-hint>
			</md-input-container>
				
			<md-input-container>
				<input mdInput type="password" placeholder="Password" [(ngModel)]="model.password" name="password" required #password="ngModel">
				<md-hint *ngIf="password.errors && (password.dirty || password.touched)" [ngStyle]="{'color': 'red'}">Password er krævet</md-hint>
			</md-input-container>

			<md-card-footer>
				<button color="primary" md-button type="submit" align="end">Log ind</button>
				<a md-button color="accent" align="end" class="right" (click)="registry()">Opret</a>
			</md-card-footer> 
		</md-card-content> 
	</md-card>
</form>
