.right {
	float: right;
	margin:	24px
}

.center {
	margin: auto;
	width: 50%;
	overflow: hidden;
	padding: 100px;
}

.cardWidth {
    width: 175px;
    margin: auto;
    height: 210px;
}