<form class="center">
	<md-card class="cardWidth"> 
		<md-card-content> 
			
			<md-card-header>
				<div md-card-avatar><md-icon>perm_identity</md-icon></div>
    			<md-card-title>Log ind</md-card-title> 
			</md-card-header> 
			<div>
				<md-input placeholder="Email" focuced tabindex="1"></md-input>
			</div>
			<div>
				<md-input type="password" placeholder="Password" tabindex="2"></md-input>
			</div>
			<md-card-footer>
				<button color="primary" md-button type="submit" align="end" tabindex="3" class="right">Login</button>
			</md-card-footer> 
		</md-card-content> 
	</md-card>
</form>
