.right {
	float: right;
	margin: 5px;
}

.center {
	margin: auto;
	width: 50%;
	overflow: hidden;
	padding: 100px;
}

.cardWidth {
    width: 175px;
    margin: auto;
    height: 180px;
}