<form class="center" (ngSubmit)="edit()" #f="ngForm" novalidate>
	<div class="inputcontainer">
		<md-input-container>
			<input mdInput type="text" placeholder="Navn" focuced [(ngModel)]="site.name" name="name" required #name="ngModel">
			<md-hint *ngIf="!(name.errors && (name.dirty || name.touched))">Navnet på websitet</md-hint>
			<md-hint *ngIf="name.errors && (name.dirty || name.touched)" [ngStyle]="{'color': 'red'}">Navnet på websitet er krævet</md-hint>
		</md-input-container>
		
		
		<h3>Område</h3>
<!-- 		<md-input-container>
  			<input mdInput placeholder="Land" [mdAutocomplete]="auto" [formControl]="stateCtrl">
		</md-input-container>

		<md-autocomplete #auto="mdAutocomplete">
  			<md-option *ngFor="let counry of counries | async" [value]="counry">
    			{{ counry }}
  			</md-option>
		</md-autocomplete>
 -->		
		<md-input-container>
			<input mdInput type="text" placeholder="Land" focuced [(ngModel)]="site.area.country" name="country" required #country="ngModel">
			<md-hint *ngIf="country.errors && (country.dirty || country.touched)" [ngStyle]="{'color': 'red'}">Websitets placering i et verden er krævet</md-hint>
		</md-input-container>
		<md-input-container>
			<input mdInput type="text" placeholder="Region" focuced [(ngModel)]="site.area.region" name="region" #region="ngModel">
		</md-input-container>
		<md-input-container>
			<input mdInput type="text" placeholder="Postnummer" focuced [(ngModel)]="site.area.zip" name="zip" #zip="ngModel">
		</md-input-container>
	</div>
</form>