<div>Informationer om din side så annoncører kan finde den.</div>
<form class="center" (ngSubmit)="edit()" #f="ngForm" novalidate>
	<div class="inputcontainer">

		<h3>Område</h3>
		<div>
	 		<mat-input-container>
	  			<input matInput placeholder="Land" [matAutocomplete]="autoCountry" [formControl]="countryCtrl" [(ngModel)]="country">
			</mat-input-container>

			<mat-autocomplete #autoCountry="matAutocomplete">
	  			<mat-option *ngFor="let country of filteredCountry | async" [value]="country">
	    			{{ country }}
	  			</mat-option>
			</mat-autocomplete>

	 		<mat-input-container>
	  			<input matInput placeholder="Region" [matAutocomplete]="autoRegion" [formControl]="regionCtrl" [(ngModel)]="area.region">
			</mat-input-container>

			<mat-autocomplete #autoRegion="matAutocomplete">
	  			<mat-option *ngFor="let region of filteredRegion | async" [value]="region">
	    			{{ region }}
	  			</mat-option>
			</mat-autocomplete>

			<mat-input-container>
				<input matInput type="text" placeholder="By" [(ngModel)]="area.city" name="region" #city="ngModel">
			</mat-input-container>

			<button mat-mini-fab (click)="addArea()"><mat-icon>add</mat-icon></button>
		</div>
		<mat-chip-list class="mat-chip-list-stacked">
		  	<mat-chip color="accent" selected="true" role="option" *ngFor="let area of site.areas" class="clip">
		   	 	{{area.country}} {{area.region}} {{area.city}}
		   	 	<a (click)=removeArea(area)>X</a>
			</mat-chip>
		</mat-chip-list>

		<h3>Demografi</h3>
		<div>
			<mat-checkbox [(ngModel)]="man" name="man">Mænd</mat-checkbox>
			<mat-checkbox [(ngModel)]="woman" name="woman">Kvinder</mat-checkbox>
			<mat-checkbox [(ngModel)]="unisex" name="unisex">Unisex</mat-checkbox>
			<mat-checkbox [(ngModel)]="children" name="children">Children</mat-checkbox>
		</div>
		<div>
		<mat-form-field>
  			<input matInput placeholder="Minimums alder" [(ngModel)]="site.demografi.minAge" name="minAge" >
		</mat-form-field>
		<mat-form-field>
  			<input matInput placeholder="Maksimum alder" [(ngModel)]="site.demografi.maxAge" name="maxAge" >
		</mat-form-field>

		</div>

		<h3>Website info</h3>
		<mat-select placeholder="Branche" [(ngModel)]="selectedIndustry" name="industry">
    		<mat-option *ngFor="let industry of industries" [value]="industry">
      			{{industry.name}}
    		</mat-option>
  		</mat-select>
		<mat-select placeholder="Kategori" [(ngModel)]="site.organisation.category" name="category">
    		<mat-option *ngFor="let category of categories" [value]="category">
      			{{category}}
    		</mat-option>
  		</mat-select>

		<mat-input-container>
			<input matInput type="text" placeholder="Besøgende pr dag" [(ngModel)]="site.organisation.visitors" name="visitors">
		</mat-input-container>
		<mat-checkbox [(ngModel)]="site.organisation.physicalShop" name="shop">Fysisk butik</mat-checkbox>

		<h3>Søgeord</h3>
		<mat-input-container>
			<input matInput type="text" placeholder="Tilføj søgeord" name="label" #label>
		</mat-input-container>
		<button mat-mini-fab (click)="add(label.value)"><mat-icon>add</mat-icon></button>
		<mat-chip-list class="mat-chip-list-stacked">
		  	<mat-chip color="accent" selected="true" role="option" *ngFor="let label of site.labels" class="clip">
		   	 	{{label}}
		   	 	<a (click)=remove(label)>X</a>
			</mat-chip>
		</mat-chip-list>

	</div>
</form>
