.center {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.explanation {
	margin-top: 10px;
}

a {
	text-decoration: none;
	cursor: pointer;
	margin-left: 5px;
}

.inputcontainer md-input-container, md-select {
	margin-top: 5px;
	width: 145px;
}

.inputcontainer md-select {
	margin-top: 15px;
}

.clip {
	display: inline-block !important;
	margin: 3px !important;
}

h3 {
	margin-bottom: 0px;
}

md-chip-list {
	width: 500px;
	overflow: auto;
	display: block;
	height: 50px;
}