<form class="center" (ngSubmit)="edit()" #f="ngForm" novalidate>
	<div class="explanation">Informationer om din side så annoncører kan finde den.</div>
	<div class="inputcontainer">
	
		<h3>Område</h3>
 		<md-input-container>
  			<input mdInput placeholder="Land" [mdAutocomplete]="auto" [formControl]="stateCtrl" [(ngModel)]="site.area.country">
		</md-input-container>

		<md-autocomplete #auto="mdAutocomplete">
  			<md-option *ngFor="let country of filteredCountry | async" [value]="country">
    			{{ country }}
  			</md-option>
		</md-autocomplete>
		
		<md-input-container>
			<input mdInput type="text" placeholder="Postnummer" [(ngModel)]="site.area.zip" name="zip" #zip="ngModel">
		</md-input-container>
		
		<h3>Demografi</h3>
		<div>
			<md-checkbox [(ngModel)]="man" name="man">Mænd</md-checkbox>
			<md-checkbox [(ngModel)]="woman" name="woman">Kvinder</md-checkbox>
			<md-checkbox [(ngModel)]="unisex" name="unisex">Unisex</md-checkbox>
			<md-checkbox [(ngModel)]="children" name="children">Children</md-checkbox>
		</div>
		<div>
		<md-input-container>
  			<input mdInput placeholder="Minimums alder" [(ngModel)]="site.demografi.minAge" name="minAge" >
		</md-input-container>
		<md-input-container>
  			<input mdInput placeholder="Maksimum alder" [(ngModel)]="site.demografi.maxAge" name="maxAge" >
		</md-input-container>
			
		</div>

		<h3>Website info</h3>
		<md-select placeholder="Branche" [(ngModel)]="selectedIndustry" name="industry">
    		<md-option *ngFor="let industry of industries" [value]="industry">
      			{{industry.name}}
    		</md-option>
  		</md-select>
		<md-select placeholder="Kategori" [(ngModel)]="site.organisation.category" name="category">
    		<md-option *ngFor="let category of categories" [value]="category">
      			{{category}}
    		</md-option>
  		</md-select>
  		
		<md-input-container>
			<input mdInput type="text" placeholder="Besøgende pr dag" [(ngModel)]="site.organisation.visitors" name="visitors">
		</md-input-container>
		<md-checkbox [(ngModel)]="site.organisation.physicalShop" name="shop">Fysisk butik</md-checkbox>
		
		<h3>Søgeord</h3>
		<md-input-container>
			<input mdInput type="text" placeholder="Tilføj søgeord" name="label" #label>
		</md-input-container>
		<button md-mini-fab (click)="add(label.value)"><md-icon>add</md-icon></button>
		<md-chip-list class="mat-chip-list-stacked">
		  	<md-chip color="accent" selected="true" role="option" *ngFor="let label of site.labels" class="clip">
		   	 	{{label}} 
		   	 	<a (click)=remove(label)>X</a>
			</md-chip>
		</md-chip-list>
		
	</div>
</form>