.clicktext {
	vertical-align: sub;
	max-width: 126px;
	display: inline-block;
}

.explanation {
	margin-bottom: 20px;
}

#websitesim {
	display: flex;
}

canvas {
	margin: auto;
}

.box {
	border-color: red;
	border-width: 1px;
	border-style: solid;
}

.input {
	display: flex;
}

.input div {
	min-width: 250px;
	float: left;
}

.input md-input-container {
	width: 50px;
	margin-left: 10px;
}

.buttonright button {
	float: right;
}

.buttonright {
	height: 50px;
}

@media ( max-width : 765px) {
	.input {
		display: block;
	}
	.input div {
		min-width: 250px;
		float: none;
	}
}

@media ( max-width : 500px) {
	.buttonright button {
		float: right;
		margin-right: 20px;
	}
}