<div class="noCampagins" *ngIf="!campaigns || campaigns.length == 0"><span>Du har ingen kampagner tryk på kanppen for at tilføje en kampagne</span><button md-mini-fab (click)="add()"><md-icon>add</md-icon></button></div>
<md-card class="cardWidth" *ngFor="let campaign of campaigns; let i = index"> 
	<md-card-content> 
		<button md-mini-fab (click)="remove(campaign)"><md-icon>remove</md-icon></button>
		<button md-mini-fab (click)="edit(campaign)"><md-icon>edit</md-icon></button>
		<button md-mini-fab *ngIf="i == 0" (click)="add()"><md-icon>add</md-icon></button>
		<md-card-header>
			<div md-card-avatar><md-icon>group_work</md-icon></div>
   			<md-card-title>{{campaign.name}}</md-card-title> 
		</md-card-header> 
		<md-card class="campaign">
			<div>
				<label>Startdato</label>
				<span>{{campaign.startDate | date}}</span>
			</div>
			<div>
				<label>Slutdato</label>
				<span>{{campaign.endDate | date}}</span>
			</div>
			<div>
				<label>Maksimal værdi pr. dag</label>
				<span>{{campaign.maxPricePrDay | currency: 'DKK' :true:'1.2-2'}}</span>
			</div>
			<div>
				<label>Klik</label>
				<span>{{campaign.clicks}} stk.</span>
			</div>
			<div>
				<label>Pris</label>
				<span>{{campaign.price | currency: 'DKK' :true:'1.2-2'}}</span>
			</div>
			
		</md-card>
		<md-card class="site">
			<app-site [sites]="webSites(campaign)"></app-site>
		</md-card>
		<md-card class="banner">
			<app-banner [banners]="campaign.banners" showDialog="true"></app-banner>
		</md-card>
		<md-card-footer>
		</md-card-footer> 
	</md-card-content> 
</md-card>
			
			
