.cardWidth {
	margin: auto;
	margin-bottom: 10px;
	float: left;
	width: 100%;
	background-color: #dae8e7;
	padding-left: 0;
	padding-right: 0;
}

.cardWidth md-card-header {
	margin-left: 10px;
	height: 25px;
}

.cardWidth md-card-title {
	font-weight: bold;
	font-size: 16px;
	position: relative;
	top: 2px;
}

.cardWidth button {
	float: right;
	margin-right: 12px;
	position: relative;
	top: -25px;
}

.cardWidth md-card {
	width: 29%;
	float: left;
	height: 115px;
	margin: 0 0 10px 10px;
}

.banner {
	overflow: auto;
}

.site {
	overflow: auto;
}

.center {
	margin: auto;
}

.headerbuttons {
	float: right;
}

.campaign div {
	padding-bottom: 9px;
	width: 100%;
}

.campaign label {
	display: inline-block;
	font-weight: bold;
}

.campaign span {
	display: inline-block;
	text-align: right;
	float: right;
}

@media ( max-width : 770px) {
	.cardWidth md-card {
		width: auto;
		float: none;
		height: 115px;
		margin: 10px;
	}
}