<div class="noCampagins" *ngIf="!campaigns || campaigns.length == 0"><span>Du har ingen kampagner tryk på kanppen for at tilføje en kampagne</span><button mat-mini-fab (click)="add()"><mat-icon>add</mat-icon></button></div>
<mat-card class="cardWidth" *ngFor="let campaign of campaigns; let i = index">
	<mat-card-content>
		<button mat-mini-fab (click)="edit(campaign)"><mat-icon>edit</mat-icon></button>
		<button mat-mini-fab *ngIf="i == 0" (click)="add()"><mat-icon>add</mat-icon></button>
		<mat-card-header>
			<div mat-card-avatar><mat-icon>group_work</mat-icon></div>
   			<mat-card-title>{{campaign.name}}</mat-card-title>
		</mat-card-header>
		<mat-card class="campaign">
			<div>
				<label>Startdato</label>
				<span>{{campaign.startDate | date}}</span>
			</div>
			<div>
				<label>Slutdato</label>
				<span>{{campaign.endDate | date}}</span>
			</div>
			<div>
				<label>Maksimal værdi pr. dag</label>
				<span>{{campaign.maxPricePrDay | currency: 'DKK' :true:'1.2-2'}}</span>
			</div>
			<div>
				<label>Klik</label>
				<span>{{campaign.clicks}} stk.</span>
			</div>
			<div>
				<label>Pris</label>
				<span>{{campaign.price | currency: 'DKK' :true:'1.2-2'}}</span>
			</div>

		</mat-card>
		<mat-card class="site">
			<app-site [sites]="webSites(campaign)"></app-site>
		</mat-card>
		<mat-card class="banner">
			<app-banner [banners]="campaign.banners" showDialog="true"></app-banner>
		</mat-card>
		<mat-card-footer>
		</mat-card-footer>
	</mat-card-content>
</mat-card>


