<div class="frontBack">
	<div class="leftBanner">Jeg styrer selv min banner-markedsføring. Det virker for mig</div>
	<div class="rightBanner"><span>Kom i kontakt med din målgruppe på 1000+ websits</span></div>
</div>
 <div class="textArea">
	<div class="bullets box">
		<ul>
			<li>Du styrer selv dine annoncering</li>
			<li>Du vælger selv din målgruppe</li>
			<li>Du udformer selv dine banner i Adscoop</li>
			<li>Du får forslag til hvor din annoncering virker bedst</li>
			<li>Du betaler kun per klik og sætter selv budgetgrænsen</li>
			<li>Du kan selv følge effekten af din banner reklamer</li>
		</ul>
	</div>
	<div class="buttons">
		<div>
			<app-button imageUrl="/assets/images/search-banner.png" text="Søg bannerplads"   link="search"    hoverClass="blue"></app-button>
			<app-button imageUrl="/assets/images/create-banner.png" text="Lav mine banner"   link="create"    hoverClass="dark"></app-button>
			<app-button imageUrl="/assets/images/campaigns.png"     text="Planlæg og indryk" link="campaigns" hoverClass="gray"></app-button>
			<app-button imageUrl="/assets/images/payment.png"       text="Betalingsmodul"    link="payment"   hoverClass="dark"></app-button>
			<app-button imageUrl="/assets/images/status.png"        text="Overvåg effekt"    link="status"    hoverClass="green"></app-button>
		</div>
	</div>
</div>
