
$primary-color-dark:   #3a9c93
$primary-color:        #00BCD4
$primary-color-light:  #c9e1df
$primary-color-text:   #FFFFFF
$accent-color:         #222732
$primary-text-color:   #212121
$secondary-text-color: #757575
$divider-color:        #BDBDBD

$ad-cyan: (
  50: #52dbcf,
  100: #4dcfc3,
  200: #48c2b7,
  300: #43b5ab,
  400: #3fa89f,
  500: #3a9c93,
  600: #358f87,
  700: #30827b,
  800: #2c756f,
  900: #276963,
  A100: #f8e8c4,
  A200: #f1d390,
  A400: #eabd51,
  A700: #e5b022,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: $white-87-opacity,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: $black-87-opacity,
  )
);
