@import '~https://fonts.googleapis.com/icon?family=Material+Icons';

body, html, home, app-root, top-Menu, footer, login, app-capaign {
	width: 100%;
	margin: 0;
	display: block;
	font-family: 'Roboto', sans-serif;
}

footer {
    text-align: center;
    height: 30px;
    background-color: white;
}

login {
    min-height: 700px;
}

.alert-danger {
	color: red;
}

.alert {
	text-align: center;
}

md-dialog-container {
	padding: 0 !important;
}

@media ( max-width : 770px ) {
	.alert {
	    position: relative;
	    top: 60px;
	}
}

@media ( max-width : 500px ) {
	.mat-dialog-container {
		display: inline !important; 
	}
}