<div>
	<h3>{{headline}}</h3> 
	<table>
		<tr>
			<th>{{firstColName}}</th>
			<th>Navn</th>
			<th>Adresse</th>
			<th [class]="hideSmall">Branche</th>
			<th [class]="hideSmall">Post nr.</th>
			<th *ngIf="showclicks" class="click">Klik</th>
		</tr>
		<tr *ngFor="let site of sites">
			<td *ngIf="!firstColName"><md-icon *ngIf="site.accepted">checked</md-icon></td>
			<td *ngIf="firstColName"><button md-mini-fab (click)="click(site)"><md-icon *ngIf="removeColumn">remove</md-icon><md-icon *ngIf="!removeColumn">add</md-icon></button></td>
			<td>{{site.name}}</td>
			<td><a [href]="site.url">{{site.url}}</a></td>
			<td [class]="hideSmall">{{getIndustry(site)}}</td>
			<td [class]="hideSmall">{{getZip(site)}}</td>
			<td *ngIf="showclicks" class="click">{{site.clicks}}</td>
		</tr>
	</table>
</div>