<div>
	<h3>{{headline}}</h3>
	<div>{{subtitle}}</div>
	<table>
		<tr>
			<th>{{firstColName}}</th>
			<th>Navn</th>
			<th>Adresse</th>
			<th [class]="hideSmall">Branche</th>
			<th [class]="hideSmall">Område</th>
			<th *ngIf="showclicks" class="click">Klik</th>
		</tr>
		<tr *ngIf="!hasSites() && showclicks">
			<td colSpan="6">Du har ikke tilføjet nogle websites tryk på redigér knappen</td>
		</tr>
		<tr *ngFor="let site of sites">
			<td *ngIf="!firstColName"><mat-icon *ngIf="site.accepted">checked</mat-icon></td>
			<td *ngIf="firstColName"><button mat-mini-fab (click)="click(site)"><mat-icon *ngIf="removeColumn">remove</mat-icon><mat-icon *ngIf="!removeColumn">add</mat-icon></button></td>
			<td><a [href]="site.url">{{site.url}}</a></td>
			<td [class]="hideSmall">{{getIndustry(site)}}</td>
			<td [class]="hideSmall">{{getArea(site)}}</td>
			<td *ngIf="showclicks" class="click">{{site.clicks}}</td>
		</tr>
	</table>
</div>
