.button {
	height: 185px;
	width: 185px;
	padding-bottom: 40px;
	margin-left: 3vw;
}

.button button {
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
    border-radius: 100px;
    background: white;
}

button.blue:HOVER {
    background: #7494c3;
}

button.dark:HOVER {
	background: #31343d;
}

button.gray:HOVER {
	background: #6b6969;
}

button.green:HOVER {
 	background: #7dbbb5;
}

.button span {
	display: block;
	font-size: 21px;
	font-weight: bold;
}
