<form class="center" (ngSubmit)="edit()" #f="ngForm" novalidate>
	<div class="explanation">
		Her kan du søg efter udbyder af reklameplads i nærheden af dig.
	</div>
	<div class="inputcontainer">
		<mat-form-field>
			<input matInput focuced type="text" focuced placeholder="Geografisk område" [(ngModel)]="model.area" name="area" #area="ngModel" >
			<mat-hint>Der kan søges på f.eks. Ålborg, eller sjælland</mat-hint>
		</mat-form-field>
		<mat-checkbox [(ngModel)]="model.near" name="near" #near="ngModel">Inden for dit postnummer og omegen</mat-checkbox>
	</div>
	<div class="inputcontainer">
    <mat-form-field>
		<mat-select placeholder="Branche" [(ngModel)]="selectedIndustry" name="industry">
    		<mat-option *ngFor="let industry of industries" [value]="industry">
      			{{industry.name}}
    		</mat-option>
  		</mat-select>
    </mat-form-field>
    <mat-form-field>
		<mat-select placeholder="Kategori" [(ngModel)]="model.organisationCategory" name="category">
    		<mat-option *ngFor="let category of categories" [value]="category">
      			{{category}}
    		</mat-option>
  		</mat-select>
    </mat-form-field>

      <button  class="right" mat-mini-fab (click)="search()"><mat-icon>search</mat-icon></button>

	</div>
	<div class="appSites">
	<app-site
		class="siteList"
		[sites]="foundsites"
		[subtitle]="selectSubtitle"
		[showclicks]="false"
		[hideSmall]="doNotHide"
		[firstColName]="firstColName"
		[headline]="serchedHeadeline"
		[clickFunction]="addFunction">
	</app-site>
	<hr/>
	<app-site
		class="siteList"
		[sites]="webSites(campaign)"
		[showclicks]="false"
		[hideSmall]="doNotHide"
		[firstColName]="firstColName"
		[headline]="selectedHeadline"
		[clickFunction]="removeFunction"
		[removeColumn]="removeColumn">
	</app-site>
	</div>
</form>
