.inputcontainer input {
	width: 225px;
}

.inputcontainer md-input-container {
	margin-bottom: 30px;
}

md-hint {
	height: 10px;
}

.right {
	float: right;
}

.siteList {
	display: block;
	margin-bottom: 15px;
}